@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;

  --color-maroon: #800000;
  --color-navy: #001f3f;
  --color-coral: #FF4D4D;
}
